.UserCard img {
    height: 150px;
    border-radius: 50%;
    width: 150px;
    background: rgb(7, 225, 251);
    background: linear-gradient(90deg, rgba(7, 225, 251, 1) 0%, rgba(82, 150, 246, 1) 100%);
}

.UserCard {
    background: rgb(7, 225, 251);
    background: linear-gradient(90deg, rgba(7, 225, 251, 1) 0%, rgba(82, 150, 246, 1) 100%);
}