.Followers img {
    border-radius: 50%;
}

.profileImg {
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin-top: -80px;
    border-style: solid;
    border-width: 7px
}

.coverImg {
    object-fit: cover;
    width: 1220px;
    height: 250px;
    border-radius: 10px;

}

.distribution {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.profileUsername {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 80.564px;
    line-height: 150px;
}

.followers_bubbles {
    border-radius: 50%;
}

.profileBio {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 40px;

}

.followers {
    border-radius: 50%;
}

.followers h3 {
    font-weight: 200;
    font-size: 20px;
    padding-right: 20px;
}

.profileTabs {
    color: rgb(72, 72, 72);
    margin: 5px;
    padding: 3px;
    width: 60px;
    height: 60px;

}

.nav-pills .nav-link.active {
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(232, 255, 255);
    margin-bottom: 10px;
}

.followers_bubbles {
    background-color: black;
}

.mantine-HoverCard-dropdown mantine-y29df9 {
    background-color: black;
}

.followers_toast {
    background-color: black;
}

.followers_toast_Name {
    color: white;
    font-size: medium;
}

/* width: 80px;
height: 80px; */