.loginCard {
    max-width: 100%;
    max-height: 100%;
    margin-top: 100px;
}

.rf_Hero_login_Login {
    font-family: 'Montserrat' sans-serif;
    font-size: 80px;
    font-weight: 1000px;
    letter-spacing: -4px;
    background: #07E1FB;
    background: linear-gradient(to right, #07E1FB 0%, #439eff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}