.image-profile {
    height: 150px;
    border-radius: 50%;
    width: 150px;
}

element.style {
    border-radius: 200px;
}

.pro-sidebar {
    position: fixed !important;
    color: white
}

.css-dip3t8 {
    background-color: black !important;
}

.sidebar-content {
    position: fixed;
    color: white;
    border-left: 0.2px solid;


}

.item-content {
    color: white
}

.fa {
    color: white
}

.element:before {
    color: aquamarine;
    content: "\f000";
}

.fa-columns:before {
    color: rgb(248, 252, 255);
    content: "\f005"
}