.rf_Hero_Title_Discover {
    font-family: 'Montserrat' sans-serif;
    font-size: 152px;
    font-weight: 800;
    letter-spacing: -4px;
    background: #07E1FB;
    background: linear-gradient(to right, #7d12ff 0%, #55ccff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    margin-top: 60px;
    animation: shine 5s linear infinite;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #ab52ff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}