.profileimg {
    border-radius: 50%;
    object-fit: cover;
    width: 80px;
    height: 80px;
}

.detailCaptionTitle {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 55px;
    letter-spacing: 0.51em;
    color: #FFFFFF;
}


.detailsCard {
    margin: 60px;
    text-align: left;
}

.content {
    font-weight: 150;
    font-family: 'Montserrat' sans-serif;
    font-size: 30px;

}

.detailsContent {
    font-size: 20px;
}

.userNameDetails {
    font-size: 30px;
    font-weight: 100;

}

.rf_Hero_Title_postDetails {
    padding-top: 20px;
    font-family: 'Montserrat' sans-serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -4px;
    background: #07E1FB;
    background: linear-gradient(to right, #07E1FB 0%, #439eff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name-owner {
    font-size: 20px;
    /* margin-right: 50px; */
    font-family: 'Montserrat' sans-serif;
    font-weight: 70;

}

.img-owner {
    border-radius: 50%;
    object-fit: cover;
    width: 80px !important;
    height: 80px;
    margin-top: 5px
}

.postDetails {
    padding: 80px;
}

.postDetails img {
    border-radius: 20px;
    margin: 20px
}