.profileimg {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;


}

.profileimg {
    margin-top: 80px;
    margin-right: 28px;
}

.content {
    font-weight: 150;
    font-family: 'Montserrat' sans-serif;
    font-size: 30px;

}


.rf_Hero_Title {
    font-family: 'Montserrat' sans-serif;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -4px;
    background: #07E1FB;
    background: linear-gradient(to right, #07E1FB 0%, #439eff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name-owner {
    font-size: 20px;
    /* margin-right: 50px; */
    font-family: 'Montserrat' sans-serif;
    font-weight: 70;
    /* margin-top: 15px */
}

.img-owner {
    border-radius: 50%;
    object-fit: cover;
    width: 150px !important;
    height: 150px;
    margin-top: 5px
}